@font-face {
  font-family: 'Vazir';
  src: local('Vazir'), url(./assets/Vazir.ttf) format('ttf');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Vazir;
}